/* #Global
================================================== */
body {
  font-family: 'Rubik', sans-serif;
  padding-top: 8.33vw;
}

.f-he {
  font-family: 'Heebo', sans-serif!important;
}

@media (max-width: 1023.98px) {
  body {
    padding-top: 25.33vw;
  }
}

/* #Buttons
================================================== */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  border: 1px solid transparent;
  height: 2.6vw;
  font-size: .94vw;
  padding: 0 .78vw;
  backface-visibility: hidden;
  border: 3px solid transparent;
  transition: all .4s ease;
}

.btn.btn-small {
  padding: 0;
}

.btn.btn-small span {
  padding: 0 .78vw;
}

/* Primary */
.btn-primary {
  color: white;
  padding: 0;
  border-color: white;
}

.btn-primary:hover {
  color: black;
}

.btn-primary span {
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 2.6vw;
  font-size: .94vw;
  padding: 0 3.125vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  backface-visibility: hidden;
  font-size: inherit;
}

.btn-primary span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transform: translateY(100%);
  transition: all .4s ease;
  z-index: -1;
  backface-visibility: hidden;
}

.btn-primary:hover span::before {
  transform: translateY(0);
}

/* Secondary */
.btn-secondary {
  color: black;
  padding: 0;
  border-color: black;
}

.btn-secondary:hover {
  color: white;
}

.btn-secondary span {
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 2.6vw;
  font-size: .94vw;
  padding: 0 3.125vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  backface-visibility: hidden;
  font-size: inherit;
}

.btn-secondary span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform: translateY(100%);
  transition: all .4s ease;
  z-index: -1;
  backface-visibility: hidden;
}

.btn-secondary:hover span::before {
  transform: translateY(0);
}

/* Tertiary */
.btn-tertiary {
  color: white;
  padding: 0;
  border-color: black;
  background-color: black;
}

.btn-tertiary:hover {
  color: black;
}

.btn-tertiary span {
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 2.6vw;
  font-size: .94vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  backface-visibility: hidden;
  font-size: inherit;
}

.btn-tertiary span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transform: translateY(100%);
  transition: all .4s ease;
  z-index: -1;
  backface-visibility: hidden;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.btn-tertiary:hover span::before {
  transform: translateY(0);
}

@media (max-width: 1023.98px) {
  .btn {
    height: 9.46vw;
    font-size: 3.33vw;
    padding: 0 6.66vw;
  }

  .btn-primary,
  .btn-secondary,
  .btn-tertiary {
    padding: 0;
  }

  .btn-primary span,
  .btn-secondary span,
  .btn-tertiary span {
    height: 9.46vw;
    font-size: 3.33vw;
    padding: 0 6.66vw;
  }

  .btn.btn-small,
  .btn.btn-small span {
    padding: 0 4vw;
    height: 8.66vw;
  }

}

/* #Swiper Arrows
================================================== */
.swiper-arrows img {
  width: .5vw;
}

@media (max-width: 1023.98px) {
  .swiper-arrows img {
    width: 2vw;
  }
}

/* #Form Elements
================================================== */
.input-primary {
  border: none;
  border-bottom: 2px solid black;
  color: black;
  padding-bottom: .5vw;
  width: 100%;
}

.input-primary::placeholder {
  color: #959595;
}

.select-primary {
  border: none;
  border-bottom: 2px solid black;
  color: #959595;
  padding-bottom: .5vw;
  appearance: none;
  background-image: url('../img/icons/chevron-bottom.svg');
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: auto .5vw;
  width: 100%;
}

@media (max-width: 1023.98px) {
  .input-primary {
    padding-bottom: 2vw;
  }
  
  .select-primary {
    padding-bottom: 2vw;
    background-size: auto 2vw;
  }
}

/* #Header
================================================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: all .3s ease;
}

/* Top */
.header .top {
  background-color: black;
  color: white;
}

.header .top .container {
  width: 27%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.125vw;
}

.header .top .swiper {
  flex-grow: 1;
}

.header .top .swiper-slide {
  padding: 0 1vw;
  text-align: center;
  cursor: grab;
}

.header .top .swiper-arrows {
  flex-shrink: 0;
}

/* Bottom */
.header .bottom {
  background-color: white;
  color: black;
  padding: 1vw 0;
}

.header .bottom .container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 14.8vw;
}

.header-logo img {
  width: 6.87vw;
}

.header-links ul {
  display: flex;
  align-items: center;
}

.header-links ul li:not(:last-child) {
  margin-left: 3.125vw;
}

.header-btn a {
  display: flex;
  align-items: center;
}

.header-btn img {
  flex-shrink: 0;
  width: 2.24vw;
  margin-left: .36vw;
}

.header-contact {
  display: flex;
  align-items: center;
}

.header-contact p {
  margin-left: 1vw;
}

.header-search {
  width: 1.35vw;
}

@media (max-width: 1023.98px) {

  /* Top */
  .header .top .container {
    width: 66.6%;
    height: 10.66vw;
  }

  .header .top .swiper-slide {
    padding: 0 2vw;
  }

  /* Bottom */
  .header .bottom {
    padding: 3vw 0;
  }

  .header .bottom .container {
    width: 90%;
    flex-direction: row-reverse;
  }

  .header-logo {
    width: auto;
  }

  .header-logo img {
    width: 19vw;
  }

  .header-action {
    display: flex;
    align-items: center;
  }

  .header-hamburger {
    margin-left: 4.8vw;
  }

  .header-hamburger img {
    width: 6.93vw;
  }

  .header-btn a {
    flex-direction: row-reverse;
    border: 4px solid black;
    height: 8vw;
    justify-content: center;
    align-items: center;
    padding: 0 3.2vw 0 2.8vw;
  }

  .header-btn img {
    width: 5.33vw;
    margin-left: 0;
    margin-right: 1vw;
  }
}

/* #Footer
================================================== */
.footer {
  background-color: black;
  color: white;
  padding: 4.94vw 0 4.68vw 0;
  overflow: hidden;
}

.footer .container {
  width: 53%;
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  flex-shrink: 0;
}

.footer-logo img {
  width: 8.95vw;
}

.footer-links {
  display: flex;
  line-height: 1.5;
}

.footer-links .group:not(:last-child) {
  margin-left: 6.77vw;
}

.footer-links li:not(:last-child) {
  margin-bottom: .67vw;
}

.footer-links a {
  display: flex;
  align-items: center;
}

.footer-links a img {
  width: 1vw;
  margin-left: .88vw;
}

@media (max-width: 1023.98px) {
  .footer {
    padding: 13.33vw 0 11.33vw 0;
  }
  
  .footer .container {
    width: 76%;
    display: block;
  }
  
  .footer-logo {
    flex-shrink: 0;
  }
  
  .footer-logo img {
    width: 26.66vw;
  }
  
  .footer-links {
    display: block;
    margin-bottom: 8vw;
  }
  
  .footer-links .group:not(:last-child) {
    margin-left: 0;
    margin-bottom: 6vw;
  }
  
  .footer-links li:not(:last-child) {
    margin-bottom: 1.33vw;
  }
  
  .footer-links a img {
    width: 3.33vw;
    margin-left: 2vw;
  }
}

/* #Home Banner
================================================== */
.home-banner {
  overflow: hidden;
}

.home-banner ul {
  display: flex;
}

.home-banner li {
  position: relative;
  flex: 0 0 50%;
}

.home-banner .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
}

.home-banner h1,
.home-banner h2 {
  line-height: 1.3;
}

.home-banner p {
  line-height: 1.66;
  margin-bottom: .78vw;
}

.home-banner .img {
  position: relative;
}

.home-banner .img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(58, 58, 58, .3);
}

.home-banner .img img {
  width: 100%;
  height: 47.91vw;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 1023.98px) {
  .home-banner ul {
    display: block;
  }
  
  .home-banner .text {
    width: 90%;
  }
  
  .home-banner p {
    margin-bottom: 2.66vw;
  }
  
  .home-banner .img img {
    height: 83.86vw;
  }
}

/* #Home Categories
================================================== */
.home-categories {
  overflow: hidden;
}

.home-categories ul {
  display: flex;
  flex-wrap: wrap;
}

.home-categories li {
  position: relative;
  flex: 0 0 50%;
}

.home-categories .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
}

.home-categories h1,
.home-categories h2 {
  line-height: 1.3;
}

.home-categories p {
  line-height: 1.66;
  margin-bottom: .78vw;
}

.home-categories .img {
  position: relative;
}

.home-categories .img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(58, 58, 58, .3);
}

.home-categories .img img {
  width: 100%;
  height: 28.125vw;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 1023.98px) {
  .home-categories ul {
    display: block;
  }
  
  .home-categories .text {
    width: 90%;
  }
  
  .home-categories p {
    margin-bottom: 2.66vw;
  }
  
  .home-categories .img img {
    height: 98.66vw;
  }
}

/* #Home Banner 2
================================================== */
.home-banner-2 {
  position: relative;
  overflow: hidden;
}

.home-banner-2 .img img,
.home-banner-2 .img picture {
  width: 100%;
}

.home-banner-2 .text {
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 7.5vw;
  width: 23.5vw;
}

.home-banner-2 h2 {
  line-height: 1.2;
}

.home-banner-2 p {
  margin-bottom: 1vw;
}

@media (max-width: 1023.98px) {
  .home-banner-2 .text {
    transform: translateX(50%);
    right: 50%;
    width: 66%;
    top: auto;
    bottom: 20.66vw;
  }
  
  .home-banner-2 p {
    margin-bottom: 2.66vw;
  }
}

/* #Home Banner 3
================================================== */
.home-banner-3 {
  position: relative;
  overflow: hidden;
}

.home-banner-3 .img img,
.home-banner-3 .img picture {
  width: 100%;
}

.home-banner-3 .text {
  text-align: center;
  color: black;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 7.5vw;
  width: 23.5vw;
}

.home-banner-3 h2 {
  line-height: 1.2;
}

.home-banner-3 p {
  margin-bottom: 1vw;
}

@media (max-width: 1023.98px) {
  .home-banner-3 .text {
    transform: translateX(-50%);
    left: 50%;
    width: 66%;
    top: auto;
    bottom: 20.66vw;
  }
  
  .home-banner-3 p {
    margin-bottom: 2.66vw;
  }
}

/* #Home Banner 4
================================================== */
.home-banner-4 {
  position: relative;
  overflow: hidden;
}

.home-banner-4 .swiper-slide {
  position: relative;
}

.home-banner-4 .img img,
.home-banner-4 .img picture {
  width: 100%;
}

.home-banner-4 .text {
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 7.5vw;
  width: 33.333vw;
}

.home-banner-4 h2 {
  line-height: 1.2;
}

.home-banner-4 p {
  margin-bottom: 1vw;
}

.home-banner-4 .swiper-arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 22.85vw;
  bottom: 14vw;
  z-index: 20;
}

.home-banner-4 .swiper-arrows .prev {
  margin-left: 1.5vw;
}

@media (max-width: 1023.98px) {
  .home-banner-4 .text {
    transform: translateX(50%);
    right: 50%;
    width: 88.8%;
    top: auto;
    bottom: 20.66vw;
  }
  
  .home-banner-4 p {
    margin-bottom: 4vw;
  }

  .home-banner-4 .swiper-arrows {
    right:50%;
    transform: translateX(50%);
    bottom: 10vw;
  }
  
  .home-banner-4 .swiper-arrows .prev {
    margin-left: 5.73vw;
  }
}

/* #Home Banner 5
================================================== */
.home-banner-5 {
  position: relative;
  overflow: hidden;
}

.home-banner-5 .img img,
.home-banner-5 .img picture {
  width: 100%;
}

.home-banner-5 .text {
  text-align: center;
  color: black;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 7.5vw;
  width: 23.5vw;
}

.home-banner-5 h2 {
  line-height: 1.2;
}

.home-banner-5 p {
  margin-bottom: 1vw;
}

@media (max-width: 1023.98px) {
  .home-banner-5 .text {
    transform: translateX(-50%);
    left: 50%;
    width: 66%;
    top: auto;
    bottom: 20.66vw;
  }
  
  .home-banner-5 p {
    margin-bottom: 2.66vw;
  }
}

/* #Home Numbers
================================================== */
.home-numbers {
  text-align: center;
  overflow: hidden;
}

.home-numbers .container {
  height: 15.98vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 86.4%;
}

.home-numbers .heading {
  margin-left: 10.41vw;
}

.home-numbers .heading p {
  line-height: 1.5;
}

.home-numbers ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.home-numbers ul h3 {
  line-height: 1.2;
}

@media (max-width: 1023.98px) {
  .home-numbers {
    padding: 8.53vw 0 11vw 0;
  }

  .home-numbers .container {
    height: auto;
    display: block;
    width: 88.8%;
  }
  
  .home-numbers .heading {
    margin-left: 0;
    margin-bottom: 4vw;
  }
}

/* #Banner
================================================== */
.banner {
  position: relative;
}

.banner .img img,
.banner .img picture {
  width: 100%;
}

.banner .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 35.4%;
}

.banner h1 {
  line-height: 1.15;
}

.banner p {
  line-height: 1.5;
}

@media (max-width: 1023.98px) {
  .banner .text {
    width: 88%;
  }
}

/* #Courses
================================================== */
.courses {
  text-align: center;
  padding: 2.6vw 0 6.14vw 0;
}

.courses .container {
  width: 50%;
}

.courses .heading {
  width: 28.22vw;
  margin: 0 auto;
  margin-bottom: 3vw;
}

.courses .tab-navigation {
  margin-bottom: 4.16vw;
  display: flex;
  justify-content: center;
}

.courses .tab-navigation ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 19.27vw;
  margin: 0 -.25vw;
}

.courses .tab-btn {
  height: 2.44vw;
  border: 3px solid black;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 .46vw;
  margin: 0 .25vw;
  font-weight: 900;
  border-radius: 4px;
  margin-bottom: .5vw;
}

.courses .tab-btn.active {
  color: white;
  background-color: black;
}

.courses .tab-panel ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -5.2vw;
}

.courses .tab-panel li {
  flex: 0 0 14.47vw;
  margin-bottom: 5.2vw;
}

.courses .tab-panel .img {
  position: relative;
}

.courses .tab-panel .img img {
  width: 100%;
  height: 23vw;
  object-fit: cover;
  object-position: center;
}

.courses .tab-panel .label {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  height: 2.13vw;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.courses .tab-panel .text {
  padding: 1.2vw .5vw 0 .5vw;
}

.courses .tab-panel h3 {
  margin-bottom: .4vw;
}

.courses .tab-panel p {
  line-height: 1.38;
  margin-bottom: .4vw;
}

.courses .tab-panel a {
  text-decoration: underline;
  font-weight: bold;
}

@media (max-width: 1023.98px) {
  .courses {
    padding: 13.33vw 0 15vw 0;
  }
  
  .courses .container {
    width: 88.4%;
  }
  
  .courses .heading {
    width: 100%;
    padding: 0 1vw;
    margin-bottom: 33.86vw;
  }
  
  .courses .tab-navigation {
    margin-bottom: 15vw;
  }
  
  .courses .tab-navigation ul {
    width: 100%;
    margin: 0;
  }
  
  .courses .tab-btn {
    height: 10.4vw;
    padding: 0 3.6vw;
    margin: 0 1vw;
    margin-bottom: 2vw;
  }
  
  .courses .tab-panel ul {
    display: block;
    margin-bottom: -15vw;
  }
  
  .courses .tab-panel li {
    margin-bottom: 15vw;
  }
  
  .courses .tab-panel .img img {
    height: 140.66vw;
  }
  
  .courses .tab-panel .label {
    height: 13vw;
  }
  
  .courses .tab-panel .text {
    padding: 6vw 2vw 0 2vw;
  }
  
  .courses .tab-panel h3 {
    margin-bottom: 1vw;
  }
  
  .courses .tab-panel p {
    margin-bottom: 2vw;
  }
}

/* #Contact Form
================================================== */
.contact-form {
  position: relative;
}

.contact-form .img img,
.contact-form .img picture {
  width: 100%;
}

.contact-form .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10.625vw;
  width: 27.91vw;
  text-align: center;
}

.contact-form .text h2 {
  line-height: 1.2;
}

.contact-form .text p {
  padding: 0 3vw;
  margin-bottom: 1.3vw;
}

.contact-form .text form {
  margin-bottom: 2vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-form .text form > * {
  flex: 0 0 48%;
  margin-bottom: 1.3vw;
}

.contact-form .text form > *:last-child {
  flex: 100%;
  margin-bottom: 0;
}

@media (max-width: 1023.98px) {
  .contact-form .text {
    top: auto;
    bottom: 17.46vw;
    transform: translateX(-50%);
    left: 50%;
    width: 80%;
  }

  .contact-form .text h2 {
    line-height: 1.4;
  }
  
  .contact-form .text p {
    padding: 0 5vw;
    margin-bottom: 4.6vw;
    line-height: 1.1;
  }
  
  .contact-form .text form {
    margin-bottom: 10vw;
    display: block;
  }
  
  .contact-form .text form > * {
    margin-bottom: 4vw;
  }
  
  .contact-form .text form > *:last-child {
    margin-bottom: 0;
  } 
}

/* #Gallery
================================================== */
.gallery {
  text-align: center;
  padding: 4.16vw 0 5.2vw 0;
}

.gallery .container {
  width: 77%;
}

.gallery .tab-navigation {
  margin-bottom: 4.16vw;
  display: flex;
  justify-content: center;
}

.gallery .tab-navigation ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 26vw;
  margin: 0 -.25vw;
}

.gallery .tab-btn {
  height: 2.44vw;
  border: 3px solid black;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 .46vw;
  margin: 0 .25vw;
  font-weight: 900;
  border-radius: 4px;
  margin-bottom: .5vw;
}

.gallery .tab-btn.active {
  color: white;
  background-color: black;
}

.gallery .tab-panel ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -4.16vw;
}

.gallery .tab-panel li {
  flex: 0 0 23vw;
  margin-bottom: 4.16vw;
}

.gallery .tab-panel .img {
  position: relative;
}

.gallery .tab-panel .img img {
  width: 100%;
  height: 23vw;
  object-fit: cover;
  object-position: center;
}

.gallery .tab-panel .text {
  padding: 1.2vw .5vw 0 .5vw;
}

.gallery .tab-panel h3 {
  margin-bottom: .4vw;
}

.gallery .tab-panel p {
  line-height: 1.38;
  margin-bottom: .4vw;
}

.gallery .tab-panel a {
  text-decoration: underline;
  font-weight: bold;
}

@media (max-width: 1023.98px) {
  .gallery {
    padding: 15vw 0 13.33vw 0;
  }
  
  .gallery .container {
    width: 88.4%;
  }
  
  .gallery .tab-navigation {
    margin-bottom: 13.33vw;
  }
  
  .gallery .tab-navigation ul {
    width: 100%;
    margin: 0;
  }
  
  .gallery .tab-btn {
    height: 10.4vw;
    padding: 0 3.6vw;
    margin: 0 1vw;
    margin-bottom: 2vw;
  }
  
  .gallery .tab-panel ul {
    display: block;
    margin-bottom: -13.33vw;
  }
  
  .gallery .tab-panel li {
    margin-bottom: 13.33vw;
  }
  
  .gallery .tab-panel .img img {
    height: 88.53vw;
  }
  
  .gallery .tab-panel .text {
    padding: 6vw 2vw 0 2vw;
  }
  
  .gallery .tab-panel h3 {
    margin-bottom: 1vw;
  }
  
  .gallery .tab-panel p {
    margin-bottom: 2vw;
  }
}